!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %title= data.page.title
    = stylesheet_link_tag 'site.css'
    = yield_content :head
  %body{class: page_classes}
  #sidebar
    %h3 Parent:
    - if here.parent?
      %a{href: rel(here.parent.path)}= here.parent
    %h3 Roots:
    %ul
      - roots.each do |page|
        %li
          %a{href: rel(page.path)}= page
    %h3 Children:
    %ul
      - here.children.each do |page|
        %li
          %a{href: rel(page.path)}= page
    %h3 Siblings:
    %ul
      - here.all_siblings.each do |page|
        %li
          %a{href: rel(page.path)}= page
  #main
    = yield
